<footer class='hub-fotter'>
  <div class='fotter-text-wrap'>
    <div class="footer-button">
      このアプリについて
    </div>
    <div class="footer-button">
      CODE-HUB
    </div>
    <div class="footer-button">
      採用者様へ
    </div>
  </div>
</footer>