<header class='hub-header'>
  <div class="header-text-wrap">
    <%= link_to(root_path, class: "header-return-link") do %>
    <div class="code-hub-title">
      Code-Hub Code-Hub Code-Hub
    </div>
    <% end %>
  </div>
</header>