<div class= "left-bot">
  <div class= "code-area">
    <div class = "code">
      <div class="title">
        タイトル
      </div>
      <div class="code-image" >
      </div>
    </div>
    <div class = "code">
    </div>
    <div class = "code">
    </div>
    <div class = "code">
    </div>
    <div class = "code">
    </div>
    <div class = "code">
    </div>
  </div>
</div>
<div class="right-bot">
  <div class="link-area">
    <div class="link-lists">
    </div>
    <div class="code-post">
      投稿する
    </div>
  </div>
</div>
