<div class= "left-up">
  <div class= "title">
    Code Hub 
  </div>
  <div class= "text">
    みんなで共有し合うプログラミングサイト
    <div class ="buttons">
      <div class="button-left">
        <a href="#">ログイン</a>
      </div>
      <div class="button-right">
        <a href="#">新規登録</a>
      </div>
    </div>
  </div>
</div>
<div class= "right-up">
  <div class= "right-log">
    最近みたコード
  </div>
  <div class= "right-codes">
   コードの羅列
  </div>
</div>