.wrapper {
  overflow: hidden;
}

.up-bar {
  background-color: #00303e ;
  height: 50vh;
  width: 100vw;
  display: flex;
  border-bottom: 2px dashed #999999;
}

.left-up {
  width: 50%;
  height: 100%;
}

.title {
  border-bottom: 2px dashed #999999;
  font-size: 60px;
  color: #999999;
  height: 40%;
  padding: 50px 40px;
  font-family: 'Press Start 2P', cursive;
}

.texts {
  color: #999999;
  height: 100px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.used-program {
  font-size: 20px;
  font-family: 'DotGothic16', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.author-info {
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.button-left, .button-right {
  width: 300px;
  height: 100px;
  border: 2px dashed #999999;
  font-size: 25px;
  color: #999999;
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  padding-top: 30px;
  font-weight: bolder;
}

.button {
  text-decoration: none;
}

.right-up{
  width: 50%;
  height: 100%;
  border-left: 2px dashed #999999;
}

.right-log{
  border-bottom: 2px dashed #999999;
  height: 20%;
}

.right-codes{
  height: 80%;
}

.bot-bar {
  background-color:#00303e;
  min-height: 100vh;
  width: 100vw;
  display: flex;
}

.left-bot {
  width: 80%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-area {
  width: 95%;
  min-height: 95%;
  background-color: #00303e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 20px;
  border: 2px dashed #999999;
}

.code-wrapper {
  width: 1000px;
  height: 200px;
  background-color: #00303e;
  margin: 20px 20px;
  display: flex;
}

.code-image {
  width: 300px;
  height: 200px;
  margin-right: 40px;
  overflow: scroll;
  font-size: 30px;
  padding-left: 10px;
  background-color: #272822;
  color: white;
}

.code-link {
  text-decoration: none;
  color: #999999;
}

.code-text {
  width: 700px;
  height: 200px;
  border: 2px dashed #999999;
}

.code-title {
  width: 700px;
  height: 50px;
  font-size: 25px;
}

.code-explain {
  width: 700px;
  height: 150px;
}

.right-bot {
  width: 20%;
  min-height: 100%;
  border-left: 2px dashed #999999;
}

.link-area {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
}

.link-lists {
  width: 95%;
  height: 70%;
}

.new-submit {
  font-size: 40px;
  padding-bottom: 10px;
  font-family: 'DotGothic16', sans-serif;
  color: white;
  font-weight: bolder;
}

.code-post {
  width: 250px;
  height: 250px;
  border: 2px dashed #999999;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.new-wrapper {
  background-color: #00303e;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
}

.new-registration-main {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: scroll;
}

.new-form {
  width: 50vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-space {
  width: 650px;
  height: 500px;
  margin-bottom: 30px;
  background-color: #272822;
  border: 2px dashed #999999;
  color: white;
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
}

.new-choices {
  width: 650px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

.new-categories {
  border-left: 2px dashed #999999;
  border-top: 2px dashed #999999;
  border-bottom: 2px dashed #999999;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
}

.new-text {
  font-size: 20px;
  color: #999999;
  font-family: 'DotGothic16', sans-serif;
  display: block;
  margin-bottom: 10px;
}

.new-title {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
}

.input-title {
  background-color: #272822;
  border: 2px dashed #999999;
  height: 50px;
  width: 300px;
  color: white;
  font-family: 'Press Start 2P', cursive, 'DotGothic16', sans-serif;
}

.select-box {
  background-color: #272822;
  border: 2px dashed #999999;
  height: 50px;
  width: 200px;
  color: white;
  font-family: 'Press Start 2P', cursive, 'DotGothic16', sans-serif;
}

.new-select {
  width: 400px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding-top: 30px;
}

.new-button {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.new-btn {
  width: 100px;
  height: 100px;
}

.new-smt {
  width: 100px;
  height: 100px;
  border: 2px dashed #999999;
  background-color: #00303e;
  font-size: 30px;
  color: #999999;
  font-family: 'Press Start 2P', cursive, 'DotGothic16', sans-serif;
}

.return-btn {
  width: 100px;
  height: 100px;
  border: 2px dashed #999999;
  background-color: #00303e;
  font-size: 30px;
  color: #999999;
  font-family: 'DotGothic16', sans-serif;
  padding-top: 30px;
}

.return-link {
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
}

.new-right {
  width: 50vw;
  border-left: 2px dashed #999999;
}

.code-space {
  width: 650px;
  height: 300px;
}

.category-space {
  display: flex;
}

.show-head-text {
  font-size: 30px;
  text-align: center;
  color: #999999;
  font-family: 'Press Start 2P', cursive, 'DotGothic16', sans-serif;
  padding: 20px 0;
}

.show-wrapper {
  background-color: #00303e ;
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.show-code {
  border-right: 2px dashed #999999;
  width: 50vw;
  min-height: 100vh;
}

.code-show {
  overflow: scroll;
  width: 700px;
  height: 450px;
  font-size: 15px;
  line-height: 25px;
  margin: 0 auto;
  padding: 10px;
  background-color: #00303e;
  border: 2px dashed #999999;
}

.show-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.btn {
  width: 100px;
  height: 100px;
  border: 2px dashed #999999;
  background-color: #00303e;
  font-size: 30px;
  color: #999999;
  padding-top: 30px;
}

.edit-btn, .delete-btn, .show-return {
  text-decoration: none;
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
}

.show-info {
  margin-top: 30px;
  width: 700px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info-show {
  width: 200px;
  min-height: 50px;
  font-size: 25px;
  color: #999999;
  border: 2px dashed #999999;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  font-weight: bolder;
  padding-top: 10px;
}

.info-show-kana {
  width: 200px;
  min-height: 50px;
  font-size: 25px;
  color: #999999;
  border: 2px dashed #999999;
  text-align: center;
  font-family: 'DotGothic16', sans-serif;
  font-weight: bolder;
  padding-top: 10px;
}

.show-comment {
  width: 50vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-area {
  border: 2px dashed #999999;
  width: 700px;
  height: 400px;
  margin-bottom: 40px;
  background-color: #272822;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments-wrap {
  display: flex;
}

.comments-name {
  width: 100px;
  height: 100px;
  border: 2px dashed #999999;
  background-color: #272822;
  color: #999999;
  font-size: 15px;
  line-height: 25px;
  margin-right: 20px;
  text-align: center;
  padding-top: 30px;
}

.comments-content {
  min-width: 400px;
  min-height: 100px;
  margin-bottom: 30px;
  border: 2px dashed #999999;
  background-color: #272822;
  color: #999999;
  font-size: 15px;
  line-height: 25px;
  padding-left: 20px;
}

.comment-form {
  width: 700px;
  height: 300px;
}

.comment-content {
  width: 700px;
  height: 200px;
  background-color: #272822;
  border: 2px dashed #999999;
  color: white;
  font-size: 20px;
}

.form-btn {
  width: 300px;
  height: 100px;
  background-color: #00303e;
  border: 2px dashed #999999;
  font-size: 30px;
  color: #999999;
  font-family: 'DotGothic16', sans-serif;
  font-weight: 900;
}

