.login-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #00303e;
  overflow: hidden;
  display: flex;
}

.signin-main {
  width: 50vw;
  height: 100vh;
  border-right: 2px dashed #999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Press Start 2P', cursive;
}

.form-head-text {
  color: #999999;
  font-family: 'Press Start 2P', cursive;
}

.code-main {
  width: 50vw;
}

.login-text {
  color: #999999;
  font-family: 'DotGothic16', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.input-login {
  background-color: #272822;
  border: 2px dashed #999999;
  height: 50px;
}

.login-btn {
  width: 100px;
  border: 2px dashed #999999;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  background-color: #00303e;
  font-family: 'DotGothic16', sans-serif;
  font-size: 20px;
  color: #999999;
}

.login-flash-message {
  text-align: center;
  color:#999999;
  font-family: 'Press Start 2P', cursive;
}